
body{
    background: var(--bg-main);
}

:root {
    --timing-function   : cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	--hd-main: rgb(33,33,33);
	--bg-main: rgb(63,53,53);
	--burger-menu: white;
	--button-color: black;
	--section-a-bg: #B31B1B;
	--section-b-bg: url(pictures/Portfolio\ Backkground.png);
	--text-aura-bg: red;
	--text-extra-bg: grey;
	--beige-bg: beige;
}

.lightmode {
	--hd-main: #ffe5e5;
	/* the header make above lighter but darker than abg--hd-main: rgb(245,245,245);*/
	--bg-main: #ffdddd;
	--section-b-bg: url(pictures/Portfolio\ Backkground23.png);
	--burger-menu: black;
	--button-color: white;
	/*--section-a-bg:  rgb(255,248,245);*/
	--section-a-bg: #d46a6a;
	--text-aura-bg: #660000;
	--text-extra-bg: #333;
	--beige-bg: rgb(33,33,33);
}

.NnD {
	margin-right: 80px;
	float:right;
	border-radius: 50%;
	padding: 6px;
	background-color: var(--burger-menu);
}


.NnD svg{
	fill: var(--button-color);
}


.NnD svg:last-child{
	display:none;
}

.lightmode .NnD svg:first-child{
	display:none;
}

.lightmode .NnD svg:last-child {
	display:block;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--hd-main);
  padding: 0 1em;
}

input {
	position: fixed;
	opacity: 0;
}
label {
    position: absolute;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	cursor: pointer; }

label::before {
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		pointer-events: none;
		transition: opacity .2s var(--timing-function);
	}
	.burger {
        background-color: transparent;
		position: fixed;
		top: 1em;
		display: inline-block;
		right: 1em;
		left: auto;
		z-index: 3;
		width: 2em;
		height: 2em;
		margin: 0;
		padding: 0;
		transition: opacity .5s var(--timing-function);  }

		
		.burger::after, .burger::before{
			position: absolute;
            left: 0;
			display: block;
			width: 100%;
			height: 12%;
			background: var(--burger-menu);
			top: 50%;
			content: '';
			transition: all .5s var(--timing-function);
		} 
		.bar{
			display: block;
  			width: 100%;
  			height: 4px;
  			background: var(--burger-menu);
  			position: absolute;
  			left: 0;
			top: 50%;
  			transform: translateY(-50%);
  			transition: all 0.4s var(--timing-function);
		}
		.bar::before {
			content: '';
  			position: absolute;
  			left: 0;
  			width: 100%;
  			height: 4px;
  			background: var(--burger-menu);
  			transition: all 0.4s var(--timing-function);
			top: -10px;
		}
		.bar::after {
	  		content: '';
  			position: absolute;
  			top: 10px;
  			left: 0;
  			width: 100%;
  			height: 4px;
  			background: var(--burger-menu);
  			transition: all 0.4s var(--timing-function);
		}

input:focus + label,
label:hover {
	.burger {
		opacity: .75;
	}
}

/*label::after {
	main {
		opacity: 0.5;
	}
} */

nav {
	background-color: var(--section-a-bg);
    position: fixed;
	top: 0;
	left: auto;
	right: 0;
	bottom: 0;
	z-index: 2;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
    padding-bottom: 18em;
	transform: translate3d(0,0,0);
	transform: translateX(100%);
	will-change: transform;
	transition: transform .2s var(--timing-function); }

		

	nav a {
		display: block;
        /*margin: .5em 0;*/
        margin-left: 0;
		padding: 0.2em 2em;
		font-size: 1.5em;
		color: wheat;
		text-decoration: none;
		font-weight: 500;
		transform: translateX(100%);
		transition: color .15s, transform .5s;
		transition-timing-function: var(--timing-function);
		&:hover, &:focus {
			color: var(--burger-menu);
		}
	}

main {
	padding-top: 120px;
	overflow: hidden;
	background-image: var(--section-b-bg);
	.content {
		transform: translate3d(0,0,0);
		will-change: transform, filter;
		transition: all .2s --timing-function;
	}
}

[id="navcheck"]:checked {
  & + label {
    &::before {
      opacity: 1;
      pointer-events: auto;
    }

    .burger {
      &::before,
      &::after {
        width: 141.42%;
      }

      &::before {
        transform: rotate(45deg) translateY(-50%);
      }

      &::after {
        transform: rotate(-45deg) translateY(50%);
      }

      .bar {
        transform: scale(0.1);
      }
    }
  }

  & ~ nav {
    transform: translateX(0);

    &::before {
      transform: skewX(-15deg) translateX(0);
    }

    a {
      transform: translateX(0);
    }
  }

  & ~ main .content {
    transform: translateX(-3em);
    transform-origin: right center;
    filter: blur(2px);
  }
}



.visuallyhidden { border:0; clip:rect(0 0 0 0);	height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px; }


nav {
    border-color: var(--text-aura-bg);
    border-width: 8px;
    border-style: solid;
	transition: opacity .5s var(--timing-function);
}

.nav-links{
	transition: opacity .5s var(--timing-function);
    background-color: var(--section-a-bg);
    text-align: left;
    list-style-type: none;

}

nav li a {
    background-color: var(--section-a-bg);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}



.logo {
    font-size: 64px;
    color: var(--burger-menu);
}
.boxed-text {
	padding: 0.25em 0.75em;
  	background-color: var(--section-a-bg);
  	color: var(--burger-menu);
  	margin: 0;
	/*
    max-width: 33%;*/
    text-align: center;
	font-size: 16px;
	text-decoration: none;
}

.intro {
	/*
    border-color: red;
    border-width: 8px;
    border-style: solid; */
	display:flex;
	position: relative;
	overflow:hidden;
	padding-bottom:55px;
}

.intro-slide-text {
	color: var(--burger-menu);
}

.intro-slide-texty-text{
	display:flex;
	height: 65vh;
	flex-direction:column;
	width: 50vw;
	justify-content: space-evenly; /*ain't do nun lol*/
}

.typed-h3{
	color: var(--section-a-bg);
	overflow: hidden;
	white-space: nowrap;
	font-size: 48px;
	text-shadow: 0 0 10px var(--burger-menu), 
				 0 0 20px var(--burger-menu), 
				 0 0 30px var(--text-aura-bg);
	width: 0;
	/*animation: typing 3s steps(13), blink 0.75s step-end infinite;*/
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.typed-h1{
	color: var(--burger-menu);
	overflow: hidden;
	white-space: nowrap;
	text-shadow: 0 0 10px var(--text-aura-bg), 
				 0 0 20px var(--text-aura-bg), 
				 0 0 30px var(--text-aura-bg);
	font-size:72px;
	width: 0;
	animation: typing 3s steps(13), blink 0.75s step-end infinite;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.typed-h5{
	color: var(--burger-menu);
	overflow: hidden;
	font-size:24px;
	width: 0;
	animation: typing 3s steps(13), blink 0.75s step-end infinite;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.typed-h2{
	color: var(--text-extra-bg);
	overflow: hidden;
	white-space: nowrap;
	width: 0;
	font-size:60px;
	animation: typing 3s steps(13), blink 0.75s step-end infinite;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.circular-border {
	border: 4px solid var(--text-aura-bg);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
	border-radius: 200px;
	position: absolute;
	right: 0;
	height: auto;
	margin: 20px auto;
	max-width:100%;
	display: block;
}

.circular-border img{
	max-width: 100%;
	height: auto;
	display: block;
}

.image-wrapper {
	width: 100%;
	text-align: center;
}


.project-title {
    background-color: var(--bg-main);
    text-align: center;
    color: var(--burger-menu);
    font-size: 64px;
}

.picture-border {
	border-radius: 200px;
	outline: none;
	max-width: 100%;
	height: auto;
	display: block;
}

.AboutMe {
    background-color:var(--bg-main);
    text-align: center;
    color: var(--burger-menu);
    font-size: 36px;
	opacity: 0;
	transition: all 1s;
	text-align: left;
	padding: 16px;
	font-family: "Fontdiner Swanky", serif;
}

.slideshowLike {
    display:flex;
    border-color: var(--text-aura-bg);
    border-width: 8px;
}

.experience {
    background-color: var(--bg-main);
    text-align: center;
    color: var(--burger-menu);
    font-size: 64px;
	opacity: 0;
	transition: all 1s;
	/*background-image: var(--section-b-bg);*/
}

.pcb-back {
	border: 4px solid var(--hd-main);
	text-align: center;
	background-color: var(--hd-main);
	list-style-type: none;
	border-radius: 16px;
	box-shadow: #9d1212;
	font-family: "Fontdiner Swanky", serif;
	font-size: 36px;
	color: var(--beige-bg);
	display: flex;
	flex-wrap: wrap;
	gap:10px;

}

.project-card img{
	margin-top: 20px;
}

.pcb-back img{
	max-width: 100%;
	max-height: 100%;
}

.experience-back {
	border: var(--text-aura-bg) solid 4px;
	font-size:larger;
	padding: 24px;
	transform: scale(0.7);
	border-radius: 72px;
	box-shadow: 0 0 8px #ef1212, 0 0 16px var(--section-a-bg);
	animation: Pulse 2s infinite;
}

/* what if i did like a zoom animation and 3x3 grid
so */

.pcb-back li {
	border: green solid 4px;
	text-align: left;
	padding-right: 4px;
	font-size: 30px;
	font-size:larger;
	font-family: "Slackey", sans-serif;
	display:flex;
	flex-wrap:wrap;
	transform: scale(0.7);
	border-radius: 72px;
	box-shadow: 0 0 8px #ef1212, 0 0 16px var(--section-a-bg);
	animation: Pulse 2s infinite;
}

.embedded-code-container {
	border: 4px solid var(--hd-main);
	text-align: center;
	background-color: var(--hd-main);
	list-style-type: none;
	border-radius: 16px;
	padding: 16px;
	box-shadow: #9d1212;
}
.embedded-code {
	border: 4px solid var(--hd-main);
	text-align: center;
	background-color: var(--hd-main);
	list-style-type: none;
	border-radius: 16px;
	box-shadow: #9d1212;
	padding: 16px;
}

.AboutMe.show {
	opacity: 1;
}

.experience.show {
	opacity: 1;
}

.boxed-textTwo {
    padding: 1px;
    background-color: var(--section-a-bg);
    max-width: 33%;
    text-align: center;
    margin: 20px auto;
	color: var(--burger-menu);
}

@media (max-width:600px) {
    body {
        font-size: 0.675rem;
    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
	opacity: 0;
	transition: all 1s;
}

.projects.show {
	opacity: 1;
}

.project-card {
	background: var(--hd-main);
	padding: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  	box-shadow: 0 0 8px #ef1212, 0 0 16px var(--section-a-bg);
  	animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { box-shadow: 0 0 4px #ef1212; }
  50% { box-shadow: 0 0 20px #ef1212; }
  100% { box-shadow: 0 0 4px #ef1212; }
}

.project-card img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
}

.project-card h2 {
	color: var(--burger-menu);
	text-align: left;
}

.project-card p {
    margin: 10px 0;
    font-size: 1rem;
	color: var(--burger-menu);
	text-align: left;
}

.project-card button {
    padding: 8px;
    font-size: 0.95rem;
    background-color: var(--section-a-bg);
    color: var(--burger-menu);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
	text-decoration: none;
}

.project-card button a{
	text-decoration: none;
	color: var(--burger-menu);
	font-size: 0.95rem;

}

.project-card button:hover {
    background-color: #9d1212;
}

.project-card img:hover {
	aspect-ratio: 16/11;
	transform: scale(1.05);
  	box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.footer {
  padding-top:0;
  padding: 0 20px 20px 20px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  display: grid;
  background-color: var(--bg-main);
  color: var(--burger-menu);
  position: relative;
  opacity: 0;
  transition: all 1s;
}


.footer.show {
	opacity: 1;
}

.footer-icons {
	display:flex;
	justify-content: space-evenly;
	margin: 4px;
}

.footer h3 {
	font-size: 50px;
}

.fa-linkedin-square{
  background: var(--section-a-bg);
  color: var(--burger-menu);
  text-decoration: none;
}

.fa-github-square{
  background: var(--section-a-bg);
  color: var(--burger-menu);
  text-decoration: none;
}

.fa-envelope {
	background: var(--section-a-bg);
	color: var(--burger-menu);
	text-decoration: none;
}

.butty{
	padding:10px;
	background-color: var(--section-a-bg);
	border-radius: 20px;
}

.butty:hover {
	opacity: 0.7;
}
